    <div><span class = "bigger">About</span></div>
    <p>
      WebLeecher is the <a href = "http://www.rubyonrails.org/"> Ruby on Rails</a> adaptation of <a href = "mailto:revy@lethalia.net">Revy</a>'s forum Leecher.
    </p>
    <p>
      Additional information, version changelog and project status can be found in out <a href = "https://github.com/StrongeLeeroy/WebLeecher">Github Repository</a>.
