<div><span class = "bigger">Contact</span></div>

<div id="navcontainer">
  <ul id="navlist">
    <li><a href="mailto:revy@lethalia.net">Revy </a> --- revy@lethalia.net</li>
    <li><a href="mailto:revy@lethalia.net">Leeroy </a> --- leeroy@lethalia.net</li>
  </ul>
</div>
