<div><p><span class="bigger">Help</span></p></div>
    <p>
      This is filler text, if you are here you probably don't need help since we are in a developing stage right now and we know how to use our own app. Feel free to email us though, you may want to check out the <%= link_to "contacts", contact_path %> page.
    </p>
