<div><span class="bigger">Results</span></div>



<div class="code-box">
  <% i = 0 %>
  <% while (@linklist[i]!=nil) %>
    <%= "#{@linklist[i]}" %> <br />
    <% i = i + 1 %>
  <% end %>
</div>
<span class="smaller2">WebLeecher ALPHA v0.3.1</span>


