<div><p><span class="bigger">Pick a thread</span></p></div>

<p>Pick a thread:</p>

<%= form_for(:search, :url => { :action => 'update'}) do |f| %>
  <% i = 1 %>
  <% while (@threadlist[i][0]!=nil) %>
    <%= f.radio_button(:threadchoice, "#{i}") %>
    <%= f.label(:threadchoice, "#{@threadlist[i][0]}") %> <br />
    <% i = i + 1 %>
  <% end %>
  <div class="actions">
    <%= f.submit "Continue" %>
  </div>
<% end %>


<span class="smaller2">WebLeecher ALPHA v0.3.3</span>
